.movie-details{
    background-color: rgb(25, 26, 39);
    padding: 24px 48px;
}

.details-container{
    display: flex;
    margin-top: 32px;
    flex-direction: row;
}

.img-container{
    flex: 1;
    margin-right: 24px;
}

.text-details{
    flex: 2;
    color: #fff;
}


h3{
    margin-bottom: 24px;
}

.text-details span{
    background: transparent;
    position: static ;
    text-decoration: underline;
}